button{
    border-radius: 50px;
}
body{
    background-repeat: no-repeat;
    background-size: 2300px;
}
button:hover{
    background-color: rgb(221, 109, 128);
    color: white;
}
.container{
    color: white;
    font-family: Arial;
    
}
p{
    font-size: 14px;
}
#register{
    width: 140px;
    height: 40px;
    
}
#icon{
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
    padding: 8px;
}
#icon:hover{
    background-color: rgb(221, 109, 128);
    color: white;
}
#register:hover{
    background-color: rgb(221, 109, 128);
    color: white;
}
#logo{
    position: absolute;
    margin-top: 30px;
}
#img{
    margin-left: 90px;
    margin-top: 150px;
}
.para{
    position: absolute;
    margin-left: 800px;
    margin-top: -450px;
}
.btn{
    position: absolute;
    margin-left: 1250px;
    margin-top: 10px;
}
@media screen and (orientation:portrait) {

 .para{
     margin-left: 5px;
     margin-top: 50px;
 }

 #img{
     width: 300px;
     margin-left: 40px;
     margin-top: 100px;
 }
 .btn{
     margin-left: 200px;
     margin-top: 300px;
 }
 #logo{
     width: 150px;
 }
 p{
     font-size: 13px;
 }
 h2{
     font-size: 25px;
 }
}